[Unit]
Description=Regularly send RAM usage metrics via metadata API

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=0.1

[Install]
WantedBy=timers.target
